In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ds_dps = pd.read_csv('WL_DPS.csv')
ds_dps.head(10)

,Parse %,Name,Amount,Ilvl,Ilvl %,Active,DPS,Unnamed: 7
0,67,Goopdtwo,3563470$8.47%3.56m,227,60,97.50%,"7,070.6",NaN
1,33,Surgemachine,3150582$7.49%3.15m,227,24,97.57%,"6,251.3",NaN
2,97,Twistedsp,3147195$7.48%3.15m,227,97,88.56%,"6,244.6",NaN
3,93,Atrocity,3138454$7.46%3.14m,229,86,99.71%,"6,227.3",NaN
4,20,Nicksdruid,2970531$7.06%2.97m,224,23,90.74%,"5,894.1",NaN
5,92,Vilwarr,2855047$6.79%2.86m,229,83,77.74%,"5,664.9",NaN
6,85,Trillm,2717660$6.46%2.72m,228,74,78.48%,"5,392.3",NaN
7,75,Xyroblast,2688684$6.39%2.69m,226,72,81.41%,"5,334.8",NaN
8,79,Impecs,2631251$6.26%2.63m,229,65*,92.13%,"5,220.9",NaN
9,80,Avade,2615055$6.22%2.62m,228,68,88.57%,"5,188.8",NaN

In [3]:
ds_hps = pd.read_csv('WL_HPS.csv')
ds_hps.head(10)

,Parse %,Name,Amount,Overheal,Ilvl,Ilvl %,Active,HPS,Unnamed: 8
0,87,Maeveycakes,4403206$22.49%4.40m,28.61%,229,81,95.10%,"8,736.8",NaN
1,83,Driney,4177892$21.34%4.18m,45.59%,229,75,91.98%,"8,289.7",NaN
2,53,Fearrshaman,3873486$19.79%3.87m,30.91%,227,46,90.10%,"7,685.7",NaN
3,9,Åsúnå,2604953$13.31%2.60m,34.84%,220,17*,91.15%,"5,168.7",NaN
4,28,Scottm,995506$5.09%995.5k,37.54%,227,28,89.66%,"1,975.3",NaN
5,9,Dharkee,815264$4.16%815.3k,36.61%,228,9,78.34%,"1,617.6",NaN
6,71,Avade,451701$2.31%451.7k,42.84%,228,76,28.13%,896.3,NaN
7,58,Twistedsp,432653$2.21%432.7k,33.00%,227,56,84.52%,858.5,NaN
8,39,Impecs,276645$1.41%276.6k,56.30%,229,55*,21.87%,548.9,NaN
9,40,Goopdtwo,227220$1.16%227.2k,21.31%,227,42,77.80%,450.8,NaN

In [4]:
ds_dt = pd.read_csv('WL_DT.csv')
ds_dt.head(10)

,Name,Amount,Mitigated,Ilvl,Active,DTPS,Unnamed: 6
0,Scottm,2884975$14.69%2.88m,58.59%,227,81.42%,"5,724.3",NaN
1,Dharkee,2312532$11.78%2.31m,55.01%,228,75.87%,"4,588.5",NaN
2,Twistedsp,1003450$5.11%1.00m,12.81%,227,75.62%,"1,991.0",NaN
3,Åsúnå,961411$4.90%961.4k,6.77%,220,75.74%,"1,907.6",NaN
4,Atrocity,946294$4.82%946.3k,9.44%,229,74.35%,"1,877.6",NaN
5,Xyroblast,922715$4.70%922.7k,11.20%,226,73.58%,"1,830.8",NaN
6,Lipdk,878770$4.48%878.8k,16.03%,229,75.62%,"1,743.6",NaN
7,Kíngflydk,873178$4.45%873.2k,11.64%,229,76.56%,"1,732.5",NaN
8,Maeveycakes,851068$4.33%851.1k,12.87%,229,72.99%,"1,688.7",NaN
9,Ericjunior,838302$4.27%838.3k,13.72%,227,72.99%,"1,663.3",NaN

In [5]:
ds_int = pd.read_csv('WL_INT.csv')
ds_int.head()

          Name  Count
0  Maeveycakes      6
1        Avade      5
2   Ericjunior      5
3    Xyroblast      5
4        Lipdk      4

In [6]:
ds_hps.count()

Parse %       20
Name          20
Amount        20
Overheal      20
Ilvl          20
Ilvl %        20
Active        20
HPS           20
Unnamed: 8     0
dtype: int64

In [7]:
ds_roles = pd.read_csv('WL_ROLES.csv')
ds_roles.head(20)

            Name    Role Subrole TimeAlive
0          Åsúnå  HEALER  HEALER     00:35
1       Atrocity     DPS  RANGED     08:23
2          Avade     DPS   MELEE     08:23
3        Dharkee    TANK    TANK     08:23
4         Driney  HEALER  HEALER     08:23
5     Ericjunior     DPS  RANGED     08:23
6    Fearrshaman  HEALER  HEALER     08:23
7       Goopdtwo     DPS  RANGED     08:23
8         Impecs     DPS   MELEE     08:23
9      Kíngflydk     DPS   MELEE     08:23
10         Lipdk     DPS   MELEE     08:23
11   Maeveycakes  HEALER  HEALER     08:23
12    Nicksdruid     DPS  RANGED     07:54
13        Scottm    TANK    TANK     08:23
14  Surgemachine     DPS  RANGED     08:23
15        Trillm     DPS   MELEE     08:23
16      Truckboy     DPS   MELEE     00:35
17     Twistedsp     DPS  RANGED     08:23
18       Vilwarr     DPS   MELEE     08:23
19     Xyroblast     DPS  RANGED     08:23

In [8]:
ds_dps.drop(columns=['Unnamed: 7'], inplace=True)
ds_hps.drop(columns=['Unnamed: 8'], inplace=True)
ds_dt.drop( columns=['Unnamed: 6'], inplace=True)

In [9]:
ds_dt.head()

        Name               Amount Mitigated  Ilvl  Active     DTPS
0     Scottm  2884975$14.69%2.88m    58.59%   227  81.42%  5,724.3
1    Dharkee  2312532$11.78%2.31m    55.01%   228  75.87%  4,588.5
2  Twistedsp   1003450$5.11%1.00m    12.81%   227  75.62%  1,991.0
3      Åsúnå   961411$4.90%961.4k     6.77%   220  75.74%  1,907.6
4   Atrocity   946294$4.82%946.3k     9.44%   229  74.35%  1,877.6

In [10]:
df = pd.merge(
    ds_dt, ds_hps, how='inner',
    on=None, left_on=['Name', 'Ilvl'], right_on=['Name', 'Ilvl'],
    left_index=False, right_index=False, sort=True,
    suffixes=('_DT', '_HPS'), copy=True, indicator=False,
    validate=None
)
df.tail()

,Name,Amount_DT,Mitigated,Ilvl,Active_DT,DTPS,Parse %,Amount_HPS,Overheal,Ilvl %,Active_HPS,HPS
15,Truckboy,223663$1.14%223.7k,25.31%,228,25.49%,443.8,6,113506$0.58%113.5k,40.29%,5,27.39%,225.2
16,Twistedsp,1003450$5.11%1.00m,12.81%,227,75.62%,"1,991.0",58,432653$2.21%432.7k,33.00%,56,84.52%,858.5
17,Vilwarr,813373$4.14%813.4k,31.41%,229,72.99%,"1,613.9",95,190107$0.97%190.1k,9.67%,95,69.41%,377.2
18,Xyroblast,922715$4.70%922.7k,11.20%,226,73.58%,"1,830.8",82,152848$0.78%152.8k,0.74%,80,73.26%,303.3
19,Åsúnå,961411$4.90%961.4k,6.77%,220,75.74%,"1,907.6",9,2604953$13.31%2.60m,34.84%,17*,91.15%,"5,168.7"

In [11]:
df = pd.merge(
    df, ds_dps, how='left',
    on=None, left_on=['Name', 'Ilvl'], right_on=['Name', 'Ilvl'],
    left_index=False, right_index=False, sort=True,
    suffixes=('_DT', '_DPS'), copy=True, indicator=False,
    validate=None
)
df.tail()

,Name,Amount_DT,Mitigated,Ilvl,Active_DT,DTPS,Parse %_DT,Amount_HPS,Overheal,Ilvl %_DT,Active_HPS,HPS,Parse %_DPS,Amount,Ilvl %_DPS,Active,DPS
15,Truckboy,223663$1.14%223.7k,25.31%,228,25.49%,443.8,6,113506$0.58%113.5k,40.29%,5,27.39%,225.2,6.0,1206534$2.87%1.21m,5,30.71%,"2,394.0"
16,Twistedsp,1003450$5.11%1.00m,12.81%,227,75.62%,"1,991.0",58,432653$2.21%432.7k,33.00%,56,84.52%,858.5,97.0,3147195$7.48%3.15m,97,88.56%,"6,244.6"
17,Vilwarr,813373$4.14%813.4k,31.41%,229,72.99%,"1,613.9",95,190107$0.97%190.1k,9.67%,95,69.41%,377.2,92.0,2855047$6.79%2.86m,83,77.74%,"5,664.9"
18,Xyroblast,922715$4.70%922.7k,11.20%,226,73.58%,"1,830.8",82,152848$0.78%152.8k,0.74%,80,73.26%,303.3,75.0,2688684$6.39%2.69m,72,81.41%,"5,334.8"
19,Åsúnå,961411$4.90%961.4k,6.77%,220,75.74%,"1,907.6",9,2604953$13.31%2.60m,34.84%,17*,91.15%,"5,168.7",NaN,NaN,NaN,NaN,NaN

In [12]:
df = pd.merge(
    df, ds_int, how='left',
    on=None, left_on='Name', right_on='Name',
    left_index=False, right_index=False, sort=True,
    suffixes=('_DT', '_INT'), copy=True, indicator=False,
    validate=None
)
df.tail()

,Name,Amount_DT,Mitigated,Ilvl,Active_DT,DTPS,Parse %_DT,Amount_HPS,Overheal,Ilvl %_DT,Active_HPS,HPS,Parse %_DPS,Amount,Ilvl %_DPS,Active,DPS,Count
15,Truckboy,223663$1.14%223.7k,25.31%,228,25.49%,443.8,6,113506$0.58%113.5k,40.29%,5,27.39%,225.2,6.0,1206534$2.87%1.21m,5,30.71%,"2,394.0",NaN
16,Twistedsp,1003450$5.11%1.00m,12.81%,227,75.62%,"1,991.0",58,432653$2.21%432.7k,33.00%,56,84.52%,858.5,97.0,3147195$7.48%3.15m,97,88.56%,"6,244.6",NaN
17,Vilwarr,813373$4.14%813.4k,31.41%,229,72.99%,"1,613.9",95,190107$0.97%190.1k,9.67%,95,69.41%,377.2,92.0,2855047$6.79%2.86m,83,77.74%,"5,664.9",3.0
18,Xyroblast,922715$4.70%922.7k,11.20%,226,73.58%,"1,830.8",82,152848$0.78%152.8k,0.74%,80,73.26%,303.3,75.0,2688684$6.39%2.69m,72,81.41%,"5,334.8",5.0
19,Åsúnå,961411$4.90%961.4k,6.77%,220,75.74%,"1,907.6",9,2604953$13.31%2.60m,34.84%,17*,91.15%,"5,168.7",NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.count()

Name           20
Amount_DT      20
Mitigated      20
Ilvl           20
Active_DT      20
DTPS           20
Parse %_DT     20
Amount_HPS     20
Overheal       20
Ilvl %_DT      20
Active_HPS     20
HPS            20
Parse %_DPS    19
Amount         19
Ilvl %_DPS     19
Active         19
DPS            19
Count           7
dtype: int64

In [14]:
df = pd.merge(
    ds_roles, df, how='inner',
    on='Name',
    left_index=False, right_index=False, sort=True,
    copy=True, indicator=False,
    validate=None
)
df.tail(20)

,Name,Role,Subrole,TimeAlive,Amount_DT,Mitigated,Ilvl,Active_DT,DTPS,Parse %_DT,...,Overheal,Ilvl %_DT,Active_HPS,HPS,Parse %_DPS,Amount,Ilvl %_DPS,Active,DPS,Count
0,Atrocity,DPS,RANGED,08:23,946294$4.82%946.3k,9.44%,229,74.35%,"1,877.6",35,...,17.79%,40,75.02%,425.5,93.0,3138454$7.46%3.14m,86,99.71%,"6,227.3",NaN
1,Avade,DPS,MELEE,08:23,685053$3.49%685.1k,34.08%,228,74.53%,"1,359.3",71,...,42.84%,76,28.13%,896.3,80.0,2615055$6.22%2.62m,68,88.57%,"5,188.8",5.0
2,Dharkee,TANK,TANK,08:23,2312532$11.78%2.31m,55.01%,228,75.87%,"4,588.5",9,...,36.61%,9,78.34%,"1,617.6",66.0,1634060$3.89%1.63m,54,80.79%,"3,242.3",NaN
3,Driney,HEALER,HEALER,08:23,762188$3.88%762.2k,16.02%,229,74.01%,"1,512.3",83,...,45.59%,75,91.98%,"8,289.7",54.0,799603$1.90%799.6k,46,77.39%,"1,586.6",NaN
4,Ericjunior,DPS,RANGED,08:23,838302$4.27%838.3k,13.72%,227,72.99%,"1,663.3",10,...,11.03%,10,1.59%,41.2,83.0,2425827$5.77%2.43m,80,91.15%,"4,813.3",5.0
5,Fearrshaman,HEALER,HEALER,08:23,821924$4.19%821.9k,14.78%,227,73.61%,"1,630.9",53,...,30.91%,46,90.10%,"7,685.7",28.0,30111$0.07%30.1k,29,18.11%,59.7,NaN
6,Goopdtwo,DPS,RANGED,08:23,815506$4.15%815.5k,22.15%,227,74.13%,"1,618.1",40,...,21.31%,42,77.80%,450.8,67.0,3563470$8.47%3.56m,60,97.50%,"7,070.6",NaN
7,Impecs,DPS,MELEE,08:23,805051$4.10%805.1k,15.56%,229,73.32%,"1,597.4",39,...,56.30%,55*,21.87%,548.9,79.0,2631251$6.26%2.63m,65*,92.13%,"5,220.9",NaN
8,Kíngflydk,DPS,MELEE,08:23,873178$4.45%873.2k,11.64%,229,76.56%,"1,732.5",7,...,35.61%,8,12.30%,126.9,72.0,2380695$5.66%2.38m,52,99.73%,"4,723.7",2.0
9,Lipdk,DPS,MELEE,08:23,878770$4.48%878.8k,16.03%,229,75.62%,"1,743.6",39,...,29.71%,43,79.05%,251.0,75.0,2399039$5.71%2.40m,55,99.77%,"4,760.1",4.0
10,Maeveycakes,HEALER,HEALER,08:23,851068$4.33%851.1k,12.87%,229,72.99%,"1,688.7",87,...,28.61%,81,95.10%,"8,736.8",79.0,213137$0.51%213.1k,81,23.79%,422.9,6.0
11,Nicksdruid,DPS,RANGED,07:54,762653$3.88%762.7k,22.05%,224,67.42%,"1,513.2",11,...,7.16%,9,70.44%,258.6,20.0,2970531$7.06%2.97m,23,90.74%,"5,894.1",NaN
12,Scottm,TANK,TANK,08:23,2884975$14.69%2.88m,58.59%,227,81.42%,"5,724.3",28,...,37.54%,28,89.66%,"1,975.3",32.0,1482393$3.53%1.48m,25,82.87%,"2,941.3",NaN
13,Surgemachine,DPS,RANGED,08:23,745777$3.80%745.8k,20.18%,227,74.58%,"1,479.8",6,...,31.25%,7,12.21%,168.2,33.0,3150582$7.49%3.15m,24,97.57%,"6,251.3",NaN
14,Trillm,DPS,MELEE,08:23,729101$3.71%729.1k,28.35%,228,72.99%,"1,446.7",24,...,43.96%,19,21.62%,434.7,85.0,2717660$6.46%2.72m,74,78.48%,"5,392.3",NaN
15,Truckboy,DPS,MELEE,00:35,223663$1.14%223.7k,25.31%,228,25.49%,443.8,6,...,40.29%,5,27.39%,225.2,6.0,1206534$2.87%1.21m,5,30.71%,"2,394.0",NaN
16,Twistedsp,DPS,RANGED,08:23,1003450$5.11%1.00m,12.81%,227,75.62%,"1,991.0",58,...,33.00%,56,84.52%,858.5,97.0,3147195$7.48%3.15m,97,88.56%,"6,244.6",NaN
17,Vilwarr,DPS,MELEE,08:23,813373$4.14%813.4k,31.41%,229,72.99%,"1,613.9",95,...,9.67%,95,69.41%,377.2,92.0,2855047$6.79%2.86m,83,77.74%,"5,664.9",3.0
18,Xyroblast,DPS,RANGED,08:23,922715$4.70%922.7k,11.20%,226,73.58%,"1,830.8",82,...,0.74%,80,73.26%,303.3,75.0,2688684$6.39%2.69m,72,81.41%,"5,334.8",5.0
19,Åsúnå,HEALER,HEALER,00:35,961411$4.90%961.4k,6.77%,220,75.74%,"1,907.6",9,...,34.84%,17*,91.15%,"5,168.7",NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_2 = df.drop(columns=['Amount_DT', 'Active_DT', 'Parse %_DT', 'Amount_HPS', 'Overheal', 
                        'Ilvl %_DT', 'Active_HPS', 'Parse %_DPS', 'Amount', 'Ilvl %_DPS', 'Active'], inplace=False)
df_2.head()

,Name,Role,Subrole,TimeAlive,Mitigated,Ilvl,DTPS,HPS,DPS,Count
0,Atrocity,DPS,RANGED,08:23,9.44%,229,"1,877.6",425.5,"6,227.3",NaN
1,Avade,DPS,MELEE,08:23,34.08%,228,"1,359.3",896.3,"5,188.8",5.0
2,Dharkee,TANK,TANK,08:23,55.01%,228,"4,588.5","1,617.6","3,242.3",NaN
3,Driney,HEALER,HEALER,08:23,16.02%,229,"1,512.3","8,289.7","1,586.6",NaN
4,Ericjunior,DPS,RANGED,08:23,13.72%,227,"1,663.3",41.2,"4,813.3",5.0

In [ ]:
df_2.head(20)

In [16]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       20 non-null     object
 1   Role       20 non-null     object
 2   Subrole    20 non-null     object
 3   TimeAlive  20 non-null     object
 4   Mitigated  20 non-null     object
 5   Ilvl       20 non-null     int64
 6   DTPS       20 non-null     object
 7   HPS        20 non-null     object
 8   DPS        19 non-null     object
 9   Count      7 non-null      float64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.7+ KB

In [17]:
df_2.fillna(0, inplace=True)

In [18]:
df_2.tail(10)

,Name,Role,Subrole,TimeAlive,Mitigated,Ilvl,DTPS,HPS,DPS,Count
10,Maeveycakes,HEALER,HEALER,08:23,12.87%,229,"1,688.7","8,736.8",422.9,6.0
11,Nicksdruid,DPS,RANGED,07:54,22.05%,224,"1,513.2",258.6,"5,894.1",0.0
12,Scottm,TANK,TANK,08:23,58.59%,227,"5,724.3","1,975.3","2,941.3",0.0
13,Surgemachine,DPS,RANGED,08:23,20.18%,227,"1,479.8",168.2,"6,251.3",0.0
14,Trillm,DPS,MELEE,08:23,28.35%,228,"1,446.7",434.7,"5,392.3",0.0
15,Truckboy,DPS,MELEE,00:35,25.31%,228,443.8,225.2,"2,394.0",0.0
16,Twistedsp,DPS,RANGED,08:23,12.81%,227,"1,991.0",858.5,"6,244.6",0.0
17,Vilwarr,DPS,MELEE,08:23,31.41%,229,"1,613.9",377.2,"5,664.9",3.0
18,Xyroblast,DPS,RANGED,08:23,11.20%,226,"1,830.8",303.3,"5,334.8",5.0
19,Åsúnå,HEALER,HEALER,00:35,6.77%,220,"1,907.6","5,168.7",0,0.0

In [20]:
def convert_num(val):
    """
    Convert the string number value to a float
     - Remove commas
     - Convert to float type
    """
    try:
        new_val = val.replace(',','')
    except:
        new_val = val
    return float(new_val)

In [19]:
def convert_percent(val):
    """
    Convert the string percent value to a float
     - Remove %
     - Divedes 100
     - Convert to float type
    """
    try:
        new_val = val.replace('%','')
    except:
        new_val = val
    return float(new_val)/100

In [21]:
def convert_time(val):
    """
    Convert the string time value to a float for seconds
     - Remove :
     - Convert to minutes
     - Convert to float type
    """
    try:
        time = val.split(":")
        new_val = float(time[0])*60 + float(time[1])
        
    except:
        new_val = val
    return new_val

In [22]:
convert_time("08:23")

503.0

In [23]:
df_2['DTPS'] = df_2['DTPS'].apply(convert_num)
df_2['HPS'] = df_2['HPS'].apply(convert_num)
df_2['DPS'] = df_2['DPS'].apply(convert_num)


df_2['TimeAlive']  = df_2['TimeAlive'].apply(convert_time)

df_2['Mitigated'] = df_2['Mitigated'].apply(convert_percent)

df_2.head(10)

,Name,Role,Subrole,TimeAlive,Mitigated,Ilvl,DTPS,HPS,DPS,Count
0,Atrocity,DPS,RANGED,503.0,0.0944,229,1877.6,425.5,6227.3,0.0
1,Avade,DPS,MELEE,503.0,0.3408,228,1359.3,896.3,5188.8,5.0
2,Dharkee,TANK,TANK,503.0,0.5501,228,4588.5,1617.6,3242.3,0.0
3,Driney,HEALER,HEALER,503.0,0.1602,229,1512.3,8289.7,1586.6,0.0
4,Ericjunior,DPS,RANGED,503.0,0.1372,227,1663.3,41.2,4813.3,5.0
5,Fearrshaman,HEALER,HEALER,503.0,0.1478,227,1630.9,7685.7,59.7,0.0
6,Goopdtwo,DPS,RANGED,503.0,0.2215,227,1618.1,450.8,7070.6,0.0
7,Impecs,DPS,MELEE,503.0,0.1556,229,1597.4,548.9,5220.9,0.0
8,Kíngflydk,DPS,MELEE,503.0,0.1164,229,1732.5,126.9,4723.7,2.0
9,Lipdk,DPS,MELEE,503.0,0.1603,229,1743.6,251.0,4760.1,4.0

In [24]:
df_2.sort_values(by='DPS',inplace=True, ascending = False)
df_2.head(10)

,Name,Role,Subrole,TimeAlive,Mitigated,Ilvl,DTPS,HPS,DPS,Count
6,Goopdtwo,DPS,RANGED,503.0,0.2215,227,1618.1,450.8,7070.6,0.0
13,Surgemachine,DPS,RANGED,503.0,0.2018,227,1479.8,168.2,6251.3,0.0
16,Twistedsp,DPS,RANGED,503.0,0.1281,227,1991.0,858.5,6244.6,0.0
0,Atrocity,DPS,RANGED,503.0,0.0944,229,1877.6,425.5,6227.3,0.0
11,Nicksdruid,DPS,RANGED,474.0,0.2205,224,1513.2,258.6,5894.1,0.0
17,Vilwarr,DPS,MELEE,503.0,0.3141,229,1613.9,377.2,5664.9,3.0
14,Trillm,DPS,MELEE,503.0,0.2835,228,1446.7,434.7,5392.3,0.0
18,Xyroblast,DPS,RANGED,503.0,0.1120,226,1830.8,303.3,5334.8,5.0
7,Impecs,DPS,MELEE,503.0,0.1556,229,1597.4,548.9,5220.9,0.0
1,Avade,DPS,MELEE,503.0,0.3408,228,1359.3,896.3,5188.8,5.0

In [25]:
df_2.to_csv('WL_COMPLEXITY.csv', index=False)